html,
body {
    width: 100%;
    height: 100%;
    background-color: #444;
}

.tile {
    display: inline-block;
    width: 110px;
    height: 110px;
    background-color: #fed;
    border-radius: 5%;
    text-align: center;
    font-size: xx-large;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    transition-duration: 0.5s;
}

.tile:hover {
    background-color: #edc;
    left: -2px;
    top: -2px;
    box-shadow: 2px 2px 4px #000;
    transform: rotate(5deg);
    z-index: 99;
}

#board {
    width: 445px;
}

.picked {
    background-color: #ccf!important;
}

#wordTab {
    height: 50px;
    overflow: scroll;
}

#halp {
    position: fixed;
    left: 2px;
    top: 2px;
    background-color: #500;
    color: #fff;
    padding: 5px;
    border: 1px outset #900;
    cursor: pointer;
}
